

h1{color:yellowgreen; text-transform: uppercase}
h2{color:green; text-transform: uppercase}
h3{color:limegreen}
h3{color:violet}


img {border-radius: 48px;}


html{background-color: antiquewhite; text-align:center}



